{# page--all-events.html.twig #}
{% include '@gen_pio_theme/layout/header.html.twig' %}
<section id="" class="title-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 title-info">
                <h5 class="mt-4">EVENTS</h5>                
            </div>
        </div>
    </div>
</section>
<section id="" class="news-section common_bg">
    <div class="container reveal active">
        <div class="row row-cols-1 row-cols-md-2 g-4 news d-flex justify-content-center">
            {% if latest_events_all is defined and latest_events_all %}
                {% for events_item in latest_events_all %}
                    <div class="col news-col">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-3 news-date">
                                    <h1>{{ events_item.field_events_date.value|date("d") }}</h1>
                                    <h6>{{ events_item.field_events_date.value|date("M Y") }}</h6>
                                </div>
                                <div class="col-9 news-details">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ events_item.label }}</h5>
                                        <p class="card-text">{{ events_item.body.value|striptags|raw }}</p>
                                        <p class="card-text card-a">
                                           <a href="{{ path('gen_pio.events_detail', {'id': events_item.id}) }}" role="button">
                                                Read More <i class="fas fa-arrow-right"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>		
                {% endfor %}
            {% else %}
                <p class="text-center">No news available.</p>
            {% endif %}
        </div>
    </div>
</section>
 <footer>
      {% include '@gen_pio_theme/templates/layout/footer.html.twig' %}
  </footer>