{% include '@gen_pio_theme/layout/header.html.twig' %}

<section class="events-section">
    <div class="container reveal active">
        <div class="row mb-5">
            <div class="col-12 events-back-page">
                <a class="btn btn-events-ct" href="{{ path('gen_pio_theme.all_news') }}" role="button">
                    <i class="fas fa-arrow-circle-left"></i> Back to News
                </a>
            </div>
        </div>
     {% if latest_news_content is not empty %}
        {% for news in latest_news_content %}
        <div class="row events-pages">
            <!-- Event Image -->
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 order-lg-last pages-img">
                {% if news.image != 'MISSING' %}
                    <img src="{{ news.image }}" class="img-fluid rounded-start" alt="{{ news.title }}">
                {% else %}
                    <img src="/themes/custom/gen_pio_theme/images/default-event.jpg" class="img-fluid rounded-start" alt="Default Event Image">
                {% endif %}
            </div>

            <!-- Event Details -->
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 pages-title">
         
            <div class="news-item">
                <h1>{{ news.label|e }}</h1> 
                <p>{{ news.body|raw }}</p>
            </div>
            </div>
        </div>
         {% endfor %}
    {% else %}
        <p>No news available.</p>
    {% endif %}
    </div>
</section>
