<!-- Second section -->
<section id="latest-news" class="second-section">
	<div class="container-xl reveal active">
		<div class="row">
			<div class="col-12 zi-2 text-center">
				<h2 class="text-center h5 mb-5">Latest News</h2>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 g-4 news d-flex justify-content-center">
			{% if latest_news is defined and latest_news %}
				{% for news in latest_news %}
				<div class="col">
					<div class="card">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>{{ news.field_news_date.value|date("d") }}</h1>
								<h6>{{ news.field_news_date.value|date("M Y") }}</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<h5 class="card-title">{{ news.label }}</h5>
									{% if news.body.value is iterable %}
										<p class="card-text">{{ news.body.value|first|striptags|raw }}</p>
									{% else %}
										<p class="card-text">{{ news.body.value|striptags|raw }}</p>
									{% endif %}
									<p class="card-text card-a">
										<a href="{{ path('gen_pio.news_detail', {'id': news.id()}) }}" role="button">
                                            Read More <i class="fas fa-arrow-right"></i>
                                        </a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% else %}
				<p class="text-center">No news available.</p>
			{% endif %}
		</div>
		<div class="row mt-4 mb-5">
			<div class="col-12 news-btn">
				<a class="btn btn-news-ct" href="{{ path('gen_pio_theme.all_news') }}" role="button">
					SEE MORE NEWS<i class="fas fa-arrow-circle-right"></i>
				</a>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 zi-2 text-center">
				<h2 class="text-center h5 mb-5">Latest Events</h2>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 g-4 news d-flex justify-content-center">
			{% if latest_events is defined and latest_events %}
				{% for news in latest_events %}
					<div class="col">
						<div class="card">
							<!--{% if news.field_image and news.field_image.entity %}
								<img src="{{ file_url(news.field_image.entity.uri.value) }}" class="card-img-top" alt="{{ news.title }}">
							{% endif %}-->
							<div class="row g-0">
								<div class="col-3 news-date">
									<h1>{{ news.field_events_date.value|date("d") }}</h1>
									<h6>{{ news.field_events_date.value|date("M Y") }}</h6>
								</div>
								<div class="col-9 news-details">
									<div class="card-body">
										<h5 class="card-title">{{ news.label }}</h5>
										<p class="card-text">{{ news.body.value|striptags|raw }}</p>
										<p class="card-text card-a">
											<a href="{{ path('gen_pio.events_detail', {'id': news.id}) }}" role="button">
                                                Read More <i class="fas fa-arrow-right"></i>
                                            </a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p class="text-center">No events available.</p>
			{% endif %}
		</div>
		<div class="row  mt-5 mb-5">
			<div class="col-12 news-btn"><a class="btn btn-news-ct" href="{{ path('gen_pio.all_events') }}" role="button">SEE MORE EVENTS<i class="fas fa-arrow-circle-right"></i></a></div>
		</div>
	</div>
</section>
<!-- Second section end -->

<!-- Script reveal -->
<script>
  function reveal() {
    var reveals = document.querySelectorAll(".reveal");

    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 150;

      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
      } else {
        reveals[i].classList.remove("active");
      }
    }
  }

  window.addEventListener("scroll", reveal);
</script>
<!-- Script reveal end -->
